<div class="surface-card shadow-2 border-round my-5 mx-6 p-4 min-h-screen">
  <!-- surface-card p-4 shadow-2 border-round w-4 m-auto mt-8 min-w-min -->
  <!-- w-full h-auto lg:w-4 justify-content-center align-items-center -->
  <div
    id="buttonContainer"
    class="surface-card shadow-2 flex justify-content-end flex-wrap m-2"
  >
    <button
      pButton
      pRipple
      label="Return"
      icon="pi pi-arrow-circle-left"
      class="w-full min-w-min max-w-min"
    ></button>
  </div>
  <div
    id="ticketInfoHeaderContainer"
    class="surface-card shadow-2 border-round flex justify-content-around align-content-end"
  >
    <!-- @if (user.userType === 'admin') {
    <p>ADMIN LOGGED IN. THIS WORKS</p>
    } -->
    <div
      class="shadow-2 border-round justify-content-center align-content-center px-3 py-2"
      [ngClass]="ticketStatus == 'open' ? 'green-background' : 'red-background'"
    >
      Ticket Status: {{ ticketStatus }}
    </div>
    <div
      class="shadow-2 border-round justify-content-center align-content-center px-3 py-2 blue-background"
    >
      Date of Ticket Creation {{ ticket.dateAndTimeOfCreation }}
      <!-- <p-card styleClass="mypcard">Other Related information</p-card>
    <p-card styleClass="mypcard">Date of Ticket Creation</p-card> -->
    </div>
  </div>
  <div id="chatContainer" class="shadow-2 text-center">
    <p>ticket-edit works!</p>
  </div>
</div>
