<div
  class="surface-card shadow-2 border-round my-5 mx-6 p-4 flex flex-column justify-content-between"
  style="min-height: 92vh"
>
  <!-- surface-card p-4 shadow-2 border-round w-4 m-auto mt-8 min-w-min -->
  <!-- w-full h-auto lg:w-4 justify-content-center align-items-center -->
  <div id="Header">
    <div
      id="buttonContainer"
      class="surface-card shadow-2 flex justify-content-end flex-wrap m-2"
    >
      <button
        pButton
        pRipple
        label="Return"
        icon="pi pi-home"
        class="w-full min-w-min max-w-min"
        (click)="onReturnButtonClick()"
      ></button>
    </div>
    <div
      id="ticketContainer"
      class="surface-card shadow-2 border-round flex justify-content-around align-content-end"
    >
      <div id="topFunctions">
        <!-- <div id="employeeIDInput">
          <p-floatLabel>
            <input id="employeeIDInput" type="text" pInputText />
            <label for="employeeIDInput">employeeID</label>
          </p-floatLabel>
        </div> -->
      </div>
      <!-- <div
        class="shadow-2 border-round justify-content-center align-content-center px-3 py-2"
        [ngClass]="
          ticket.status == 'open' ? 'green-background' : 'red-background'
        "
      >
        Ticket Status: {{ ticket.status }}
      </div>
      <div
        class="shadow-2 border-round justify-content-center align-content-center px-3 py-2 blue-background"
      >
        Date of Ticket Creation {{ ticket.dateAndTimeOfCreation }} -->
      <!-- <p-card styleClass="mypcard">Other Related information</p-card>
    <p-card styleClass="mypcard">Date of Ticket Creation</p-card> -->
      <!-- </div>
    </div> -->
    </div>

    <div id="TicketCreationContainer" class="shadow-2 text-center mb-4">
      <p-floatLabel class="flex flex-row justify-content-center">
        <input
          id="title"
          type="text"
          pInputText
          [(ngModel)]="titleText"
          class="m-2 p-3"
        />
        <label for="title">Title</label>
      </p-floatLabel>
      <p-editor [(ngModel)]="descriptionText" [style]="{ height: '320px' }" />
    </div>
    <div
      id="bottomButtonControlBar"
      class="flex flex-row justify-content-between"
    >
      <button
        pButton
        pRipple
        label="Discard Ticket"
        icon="pi pi-times-circle"
        class="w-full min-w-min max-w-min"
        (click)="onDiscardButtonClick()"
      ></button>
      <button
        pButton
        pRipple
        label="Complete Ticket Creation"
        icon="pi pi-file-export"
        class="w-full min-w-min max-w-min"
        (click)="onBeginCompleteTicketCreationClick()"
      ></button>
    </div>
  </div>
</div>

<p-dialog
  header="Are you sure you wish to complete this ticket creation?"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
>
  <div class="flex align-items-center gap-3 mb-3"></div>
  <label for="username" class="font-semibold w-15rem"
    >Do you wish to have a confirmation of this ticket creation sent to your
    email? If so, check the box, enter your email, and press complete.</label
  >
  <p-checkbox [binary]="true" inputId="binary" class="m-2" />
  <!-- [(ngModel)]="checked"  -->
  <div class="flex align-items-center gap-3 my-4">
    <label for="email" class="font-semibold w-6rem">Email</label>
    <input pInputText id="email" class="flex-auto" autocomplete="off" />
    <!-- [(ngModel)]="inputtedEmail"  -->
  </div>
  <div class="flex justify-content-end gap-2">
    <p-button label="Cancel" severity="secondary" (onClick)="visible = false" />
    <p-button label="Complete" (onClick)="onCompleteTicketCreationClick()" />
  </div>
</p-dialog>
